/* http://www.csszengarden.com/?cssfile=208/208.css */
/* http://www.csszengarden.com/208/208.css */

/* http://www.csszengarden.com/?cssfile=159/159.css */
/* http://www.csszengarden.com/?cssfile=123/123.css */

/* /////////////// basic elements /////////////// */
body {
margin:0;
padding:0;
font:75%/1.4 verdana,Helvetica,sans-serif;
background-image:url(/ttbox/css/002/body_bg.gif);
text-align:center;
}

h1,h2,h3 span {
display:none;
}

h3 {
height:39px;
margin:0;
padding:0;
}

p {margin:0;padding:0;}

acronym {
border:none;
}

a {
color:#D9189F;
background-color:#ffffff;
text-decoration:underline;
}

a:hover, a:hover {
color:#FC7AD5;
background-color:#ffffff;
}

/* ////////////// specific divs ///////////////// */	

/* ////////////// Header ///////////////// */

#pageHeader {
width:772px;
height:179px;
background:url(/ttbox/css/002/top.jpg);
}

/* ////////////// Container ///////////////// */

#container {
width:772px;
margin:0 auto;
padding:0 13px;
position:relative;
background:url(ttbox/css/002/container_bg.gif) repeat-x #dfdfdf;
border-left:1px solid #ffffff;
border-right:1px solid #ffffff;
color:#454545;
text-align:left;
}

.block {
width:546px;
background-color:#ffffff;
background-repeat:repeat-y;
margin:0 0 2px 226px;
color:#454545;
display:block;
border: 1px solid red;
border-radius: 20px;
padding: 5px 5px 5px 5px;
}

/* ////////////// Side ///////////////// */

#linkList {
position:absolute;
top:179px;
left:20px;
width:207px;
}

#linkList li {
list-style:none;
padding:6px 0 10px 0;
background:url(line.gif) bottom repeat-x;
}

#linkList li a {
padding-left:7px;
background:url(link.gif) left center no-repeat;
text-decoration:none;
}

#linkList li a:hover {
text-decoration:underline;
}

.lblock {
margin:0 0 2px 0;
}

/* ////////////// Footer ///////////////// */

#footer {
width:539px;
margin:5px 0 0 226px;
text-align:right;
padding:3px 14px 43px 0;
}

#footer a{
text-decoration:none;
color:#888888;
background-color:#dfdfdf;
border:1px solid #bdbdbd;
padding:3px 3px;
height:100%;
}

#footer a:hover{
background-color:#ebebeb;
color:#777777;
}

